.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# tarql folder
tarql*
# sparql endpoint folder
apache-jena-fuseki*
# todo task txt file
TODO.txt